<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moviez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A22D3B111D418EF20065D62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22D3B281D418EF30065D62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22D3B331D418EF30065D62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
